body{
    max-width: 1200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* big chunks */
header{
    background-color: black;
    display: flex;
    flex-direction: column;
}

main{
    background-color: black;
    display: flex;
    margin-top: 2rem;
    padding:3rem; 
    justify-content: space-between;

}
footer {
    background-color: black;
    margin-top: 2rem;
    padding:3rem; 

}

/* header */
nav{
    background-color: darkolivegreen;
    margin: 3rem;
    padding:2rem;   
    display: flex;
    justify-content: space-between;
    
}
.logo {
    background-color: rgb(136, 136, 16);
    width: 10rem;
    padding: 1rem;
}
.navi {
    background-color: rgb(136, 136, 16);
    width: 35rem;
    padding: 1rem;
}
.social {
    background-color: rgb(136, 136, 16);
    width: 10rem;
    padding: 1rem;
}

.banner-container {
    background-color: orange;
    margin: 0 3rem 3rem 3rem;
    padding:2rem; 
}
.banner{
    background-color: gold;
    padding: 1rem;
    font-size: 2.5rem;
}


/* main */
.articles {
    display: flex;
    background-color: teal;
    padding:2rem; 
    gap: 2rem;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    background-color: rgb(119, 221, 211);
    padding:1rem; 
    width: 20rem;
}
.navigation {
    background-color: wheat;
    padding:1rem; 
    width: 44rem;
}

.publi {
    display: flex;
    flex-direction: column;
    background-color: coral;
    width: 14%;
    padding:2rem;
    gap: 1rem;
}
.advert {
    background-color: rgb(231, 160, 160);
    padding:1rem; 
}

/* footer */
.pie {
    background-color: skyblue;
    padding: 1rem;
}

/* media queries tablets */
@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(116, 116, 116);
    }
    /* header */
    nav {
        display: block;
    }    
    .logo, .navi, .social {
        width: 95%;
    }
    .navi {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* main */
    main{
        flex-direction: column;
    }
    .articles {
        width: 79vw;
    }
    article {
        width: 33vw;
    }
    .publi {
        width: 79vw;
        margin-top: 3rem;
    }
}

/* media queries mobile */
@media only screen and (max-width: 576px) {
    body {
        background-color: rgb(61, 61, 61);
    }
    /* header */
    .logo, .navi, .social {
        width: 83%;
    }

    /* main */
    main{
        flex-direction: column;
    }
    .articles {
        width: 55vw;
    }
    article {
        width: 46vw;
    }
    .publi {
         width: 55vw;
        margin-top: 3rem;
    }
}

/* animation of logo division */
@keyframes expandLogo {
    0% {
        transform: scale(1);
        background-color: initial;
    }
    100% {
        transform: scale(1.2);
        background-color: aquamarine;
    }
}

.logo:hover {
    cursor: pointer;
    animation: expandLogo 0.5s forwards ease-out;
}
